<div class="banner">
  <div class="registration">
    <div class="explanation" style="display:none">
    </div>
    <div id="flash">
      <% if flash[:notice] %>
        <%= content_tag(:div, flash[:notice], class: "alert alert-success") %>
      <% end %>
      <% if flash[:error] %>
        <%= content_tag(:div, flash[:error], class: "alert alert-error") %>
      <% end %>
    </div>
    <p>
      Interested in the Project?  Sign Up to get updates and become a beta tester.
    </p>
    <a href="https://github.com/login/oauth/authorize?client_id=">Sign up for Beta</a>
  </div>
</div>
<div class="definitions">
  <div class="product-definition">
    <p>
      Non-profits in the US spend $7.6 billion every year on marketing (websites, design, etc). Codhisattvas provides a space for non profits to post a project they need done (whether its a website, web app, mobile app, graphic design or marketing) and have developers and designers bid on and complete the projects pro-bono. This frees up time and money for non-profits to focus on their actual mission and gives developers/designers/marketers the opportunity to use their skills for social good and build their resume and credibility.
    </p>

    
  </div>
  <div class="atoms">
    <div class="atom">
      <div class="concept"></div>
      <div class="title">Non-Profits</div>
      <div class="body">Get Projects Done Pro Bono.</div>
    </div>
    <div class="atom">
      <div class="title">Benefit Corps and Do Good Biz</div>
      <div class="body">Get your projects done for significantly less than market rates.</div>
    </div>
    <div class="atom">
      <div class="title">Developers, Designers, Marketers</div>
      <div class="body">Do Good Work. Build Respect and Credibility. 
      </div>
    </div>
  </div>
</div>